footer {
  background-color: lightgrey;
  margin-top: 10px;
}
footer .contacto-titulo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  color: black;
  font-size: 2rem;
}
footer .contacto-titulo p {
  border: 1px solid white;
  padding: 15px;
  border-radius: 25px;
  background-color: white;
}
footer .contenedor-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}
footer .contenedor-footer a {
  margin: 15px 25px 25px 25px;
}
