* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
header {
  width: 100%;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
header .logo_img {
  width: auto;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}
header .navheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: 25px;
  padding: 25px;
  width: 80%;
  height: auto;
}
header .navheader li {
  display: inline;
  list-style: none;
  margin: 25px 10px 10px 10px;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navheader li a {
  font-size: 1.4rem;
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  width: 60px;
  margin: 20px;
}
main {
  min-width: 320px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
main .main__img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow: hidden ;
}
.main__servicios {
  -ms-flex-line-pack: justify;
      align-content: space-between;
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__servicios h1 {
  font-size: 2rem;
  color: red;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  width: 100%;
}
.main_servicios_contenedor {
  position: relative;
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.info_1 {
  width: 300px;
  min-width: 300px;
  height: 300px;
  padding: 20px;
  color: red;
  margin: 10px 10px 10px 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.6rem;
  text-align: center;
  list-style: none;
  display: inline-block;
  border-radius: 20px 20px 20px 20px;
  border: 3px solid #b3b3b3;
}
.info_1 h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.info_1 li {
  list-style: none;
  line-height: 1.9rem;
}
.info_2 {
  width: 300px;
  min-width: 300px;
  height: 300px;
  padding: 20px;
  color: red;
  margin: 10px 10px 10px 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.6rem;
  text-align: center;
  display: inline-block;
  border-radius: 20px 20px 20px 20px;
  border: 3px solid #b3b3b3;
}
.info_2 h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.info_2 li {
  list-style: none;
  line-height: 1.9rem;
}
.info_3 {
  width: 300px;
  min-width: 300px;
  height: 300px;
  padding: 20px;
  color: red;
  margin: 10px 10px 10px 10px;
  font-size: 1.6rem;
  text-align: center;
  display: inline-block;
  border-radius: 20px 20px 20px 20px;
  border: 3px solid #b3b3b3;
}
.info_3 h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.info_3 li {
  list-style: none;
  line-height: 1.9rem;
}
.main__informativo {
  width: 100%;
  height: 300px;
  background-color: lightgrey;
}
.main__informativo .main__izquierda {
  width: 50%;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__informativo .informativo_derecha {
  width: 50%;
}
