.contacto-titulo 
    p CONTACTANOS
.contenedor-footer 
    a(href="/index.html") 
        img(src="/img/incono_redes/png/001-facebook.png", alt="facebook")
    a(href="/index.html")
        img(src="/img/incono_redes/png/002-whatsapp.png", alt="whatsapp")
    a(href="/index.html")
        img(src="/img/incono_redes/png/003-instagram.png", alt="instagram")
    a(href="/index.html")
        img(src="/img/incono_redes/png/004-gmail.png", alt="formulario-contacto")