
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Castell Asesores
        link(rel="stylesheet", href="/css/styles.css")
    body 
        header 
            div.logo_img: img(src="/img/logo_castell.jpg", alt="Logo Castell Asesores")
            .navheader 
                ul
                    li: a(href="/index.html") Inicio   
                    li: a(href="/index.html") Nosotros
                    li: a(href="/index.html") Clientes
                    li: a(href="/index.html") contacto

        main 
            div.main__img: img(src="/img/castellbanner.jpg", alt="Imagen Principal")
            div.main__servicios
                h1 Nuestros servicios 
                article.main_servicios_contenedor
                    section.info_1
                        h2 Sistemas de Gestión
                        ul 
                            li  Sistema De Gestión De Seguridad Y Salud en El Trabajo
                            li  Sistema De Gestión De Calidad
                            li  Sistema De Gestión Ambiental
                            li  Sistema De Seguridad De La Información
                            li  Norma Internacional BASC  
                            li  Auditorias Empresariales 
                            li  Capacitaciones Manejo Operativo Y Administrativo Empresarial  
                            li  Estructuración Organizacional
                    section.info_2
                        h2 Sistemas de Gestión
                        ul 
                            li  Sistema De Gestión De Seguridad Y Salud en El Trabajo
                            li  Sistema De Gestión De Calidad
                            li  Sistema De Gestión Ambiental
                            li  Sistema De Seguridad De La Información
                            li  Norma Internacional BASC  
                            li  Auditorias Empresariales 
                            li  Capacitaciones Manejo Operativo Y Administrativo Empresarial  
                            li  Estructuración Organizacional
                    section.info_3
                        h2 Sistemas de Gestión
                        ul 
                            li  Sistema De Gestión De Seguridad Y Salud en El Trabajo
                            li  Sistema De Gestión De Calidad
                            li  Sistema De Gestión Ambiental
                            li  Sistema De Seguridad De La Información
                            li  Norma Internacional BASC  
                            li  Auditorias Empresariales 
                            li  Capacitaciones Manejo Operativo Y Administrativo Empresarial  
                            li  Estructuración Organizacional

                div.main__informativo
                    h1 Nuestros servicios 
                    article.informativo_izquierda 
                        section.info_1
                            h2 Nuestra compromiso es proveer la mejor solución
                            h3 Sistemas de Gestión 
                    article.informativo_derecha 
                        section
                            div.img img(src="/img/2c8ac6318d0ebf4206e6f0e6c802929e.jpg", alt="")                      
        footer 
