
doctype html
html(lang="en")
    include head.pug
    body 
        header
            include main-nav.pug
        main 
            div.main__img: img(src="/img/castellbanner.jpg", alt="main-image",class="main-image")
            h1 Nuestros servicios
            div.main__servicios
               -//article.main_servicios_contenedor//*
                    section.info_1
                        h2 Sistemas de Gestión
                        ul 
                            li  Sistema De Gestión De Seguridad Y Salud en El Trabajo
                            li  Sistema De Gestión De Calidad
                            li  Sistema De Gestión Ambiental
                            li  Sistema De Seguridad De La Información
                            li  Norma Internacional BASC  
                            li  Auditorias Empresariales 
                            li  Capacitaciones Manejo Operativo Y Administrativo Empresarial  
                            li  Estructuración Organizacional
                    section.info_2
                        h2 Sistemas de Gestión
                        ul 
                            li  Sistema De Gestión De Seguridad Y Salud en El Trabajo
                            li  Sistema De Gestión De Calidad
                            li  Sistema De Gestión Ambiental
                            li  Sistema De Seguridad De La Información
                            li  Norma Internacional BASC  
                            li  Auditorias Empresariales 
                            li  Capacitaciones Manejo Operativo Y Administrativo Empresarial  
                            li  Estructuración Organizacional
                    section.info_3
                        h2 Sistemas de Gestión
                        ul 
                            li  Sistema De Gestión De Seguridad Y Salud en El Trabajo
                            li  Sistema De Gestión De Calidad
                            li  Sistema De Gestión Ambiental
                            li  Sistema De Seguridad De La Información
                            li  Norma Internacional BASC  
                            li  Auditorias Empresariales 
                            li  Capacitaciones Manejo Operativo Y Administrativo Empresarial  
                            li  Estructuración Organizacional

            div.main__informativo
                article.informativo_izquierda 
                    section.info_izquierda
                        p.textoprincipal Nuestro compromiso es proveer la mejor solución
                        p.textosecundario Somos una empresa con responsabilidad social, al servicio de nuestros clientes, orientandolos con conocimiento, experiencia y vivencias en consultorías, asesorías, auditorías y formación en sistemas de gestión con criterio técnico, profesional, ético y moral.
                article.info_derecha 
                    section
                        img(src="/img/2c8ac6318d0ebf4206e6f0e6c802929e.jpg", alt="")                      
        footer 
            include footer.pug 
                

