nav             
                img(src="/img/logo_castell.jpg", alt="Logo Castell Asesores", class="logo") 
                ul
                    li: a(href="/index.html") INICIO   
                    li: a(href="/index.html") NOSOTROS
                    li: a(href="/index.html") CLIENTES
                    li: a(href="/index.html") CONTACTO
                img(src="/img/001-menu.png", alt="menu-mobile", class="menu")